{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Book Store</title>
</head>
<body>
    <!-- As a heading -->
    <nav class="navbar bg-dark text-light ">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">ONLINE BOOK STORE</span>
            <form class="form-inline" >
                  <input class="form-control mr-sm-2" type="search" placeholder="Search Books Here" aria-label="Search">
                  <a href="/" class="btn  btn-outline-light font-weight-bold">Search</a>
            </form>
            <a href="/add" class="btn  btn-outline-light font-weight-bold">Add Books</a>

      </div>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>
